# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Distribution / packaging
build/
dist/
*.whl
*.tar.gz

# Environment / virtual env
.env/
.venv/
env/
venv/

# -----------------------
# VSCode / IDE
# -----------------------
.vscode/
.idea/

# -----------------------
# AL / Dynamics 365 Business Central (por si mezclas proyectos)
# -----------------------
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# Sistema
# -----------------------
.DS_Store
Thumbs.db
