name: main

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest flake8

    - name: Lint con flake8 (Revisar estilo)
      run: |
        # Revisa errores, ignora advertencias de estilo simples
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

    - name: Ejecutar Pruebas (El Arreglo)
      run: |
        # ESTA LÍNEA ARREGLA EL ERROR DE IMPORTACIÓN
        export PYTHONPATH=$PYTHONPATH:.
        
        # Esto ahora encontrará y ejecutará tu archivo de prueba
        pytest test_sherlook.py
